<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <span *ngIf="!authService.userLoginStatus">
        <li class="nav-item">
          <a class="nav-link " routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="contactus" routerLinkActive="active">Contactus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="signup" routerLinkActive="active">SignUp</a>
        </li>
      </span>
      <span *ngIf="authService.userLoginStatus">
        <li class="nav-item">
          <a class="nav-link " routerLink="/login" routerLinkActive="active"
          (click)="authService.logoutUser()">Logout</a>
        </li>
      </span>
      <span *ngIf="authService.adminLoginStatus">
        <li class="nav-item">
          <a class="nav-link" routerLink="/addproduct" routerLinkActive="active">
            AddProduct
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/login" routerLinkActive="active"
          (click)="authService.logoutAdmin()">Logout</a>
        </li>
      </span>
      </ul>
    </div>
  </div>
</nav>
<!--placeholder for selected components-->
<div class="container">
    <router-outlet></router-outlet>
</div>